@import "https://unpkg.com/open-props/open-props.min.css";
@import "https://unpkg.com/open-props/normalize.min.css";

div.scroll-container {
          overflow: auto;
          white-space: nowrap;
          
        }
        
/* Keyframes for scrolling animation */
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Hide scrollbars */
.scroll-container {
 
  height: 100%;
  
 
}

/* Apply scroll animation */
.scroll-container.scroll-up img {
  
}

.scroll-container.scroll-down img {
  
}

/* Styling for images */
.scroll-container img {
  height: auto;
  width: 100%;
  margin-bottom: 10px; /* Spacing between images */
  
}

/* Adjustments for container */
.p-24 {
  padding: 24px;
}



.m {
  margin: 0;
}

